/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --bodyCouleurFond: #888888;
    --couleurNavFond: #466cdb;
    --bordureRayon:5px;

    --gizon:#afbefa;
    --emakume:#faafbe;

    --articleCouleurFond:#ffffff;
    --articleCouleurBordure:#888888;
    --articleBordureCouleur:#888888;
    --articleBordureLargeur: 2px;
    --articleBordureRayon:var(--bordureRayon);
    --articleH1Couleur:#ffffff;
    --articleH1LineHeight:2;
    --articleLiBeforeCouleur:#505050;
    --articleLiFontFamily: sans-serif;
    --articleLiFontSize: 0.9em;
    --articleLiCouleur: inherit;
    --articleLiFond:#dddddd;
    --articleLiBordureRayon:3px;
    --articleLiBordureCouleur: #b0b0b0;
    --articleLiBordureLargeur: 2px;

    --enteteFond: var(--articleLiFond);
    --footerFond: var(--articleLiFond);
    --footerCouleur: var(--articleLiBeforeCouleur);
}

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:100%;
}

body {
    margin:0.625em;
    background:var(--bodyCouleurFond);
}

#racine {
    display:flex;
    justify-content:center;
    align-items:center;
}

.couleurHomme {
    background-color: var(--gizon);
}

.couleurFemme {
    background-color: var(--emakume);
}

.grilleMusiciens {
    display:grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5em;
    padding:0;
    margin:0;
    border-radius:var(--bordureRayon);
    margin-top:3.0em;
}


article.musicien {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:var(--articleCouleurFond);
    border:var(--articleBordureLargeur) solid var(--articleBordureCouleur);    
    border-radius:8px;
}

.musicien > img {
    display:block;
    width:100%;
    height:auto;
    padding:0;
    margin:0;
    box-shadow: -1px 0px 0px rgba(0,0,0,0.2);
    flex:1;
}

.musicien > h1 {
    font-size:1em;
    padding:0;
    padding:1.5em, 0;
    color: var(--articleH1Couleur);
    text-align:center;    
    line-height:var(--articleH1LineHeight);
}

.musicien  p {
    text-align:left;
    margin-left:10px;
    flex:1;
    line-height:2;
}

.musicien  ul {
    list-style:none;
    margin: 0 0 1em;
}

.musicien li {
    font-family:var(--articleLiFontFamily);
    font-size:var(--articleLiFontSize);
    padding:10px;
    margin:10px;
    background-color:var(--articleLiFond);
    border-radius:var(--articleLiBordureRayon);
    border:var(--articleLiBordureLargeur) solid var(--articleLiBordureCouleur);
    text-align:right;
    position:relative;
}

.musicien li.courriel {
    font-size:0.8em;
    text-align:left;
    overflow:hidden;
}

.musicien li.age::before,
.musicien li.anciennete::before,
.musicien li.telephone::before,
.musicien li.portable::before,
.musicien li.ville::before,
.musicien li.nationalite::before,
.musicien li.courriel::before {
    position:absolute;
    top:0.75em;
    left:0.5em;
    text-align:left;
    font-size:inherit;
    font-family:inherit;
    color:var(--articleLiBeforeCouleur);
}

.musicien li.age::before{
    content: "Age";
}

.musicien li.anciennete::before{
    content: "Anc.";
}

.musicien li.telephone::before{
    content: "Tél.";
}

.musicien li.portable::before{
    content: "Port.";
}

.musicien li.ville::before{
    content: "Ville";
}

.musicien li.nationalite::before{
    content: "Nat.";
}

header.entete {
    font-family:sans-serif;
    font-size:1em;
    color:#202020;
    background-color:var(--enteteFond);
    z-index:1;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:0.8em 0;
    line-height:1.2;
}

footer.basDePage {
    margin-top:1.5em;
    background-color:var(--enteteFond);
    width:100%;
}

footer.basDePage p {
    font-family:serif;
    font-size: 0.85em;
    color: var(--footerCouleur);
}

nav {
  background-color:var(--couleurNavFond);
  display:flex;
  flex-direction:row;
  align-items:center;
  padding: 0 5px;
}

