//Fontes
@import (css) url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import (css) url('https://fonts.googleapis.com/css?family=Bree+Serif');
//Couleurs
@noir: #252525;
@gris: #cecece;
@blanc: #f0f0f0;

@bleu: #afbefa;
@rose: #faafbe;
@rouge: #fa4465;

@teinte:  #008888;

@bodyFond: @teinte;
@bodyCouleur: @blanc;

@active: @noir;
@activee: @active;
@desactive: @gris;
@desactivee: @desactive;
@couleurDesactivee: @blanc;
@fondDesactive: @gris;

@txAssombrissement: 10%;
@txEclaircissement: 10%;
@txSaturation: 15%;
@txDesaturation: 50%;
@sombre: darken(@teinte, @txAssombrissement);
@clair: lighten(@teinte, @txEclaircissement);
@sature: saturate(@teinte, @txSaturation);
@desature: desaturate(@teinte, @txDesaturation);
@sombreSature: darken(saturate(@teinte, @txSaturation), @txAssombrissement);
@clairSature: lighten(saturate(@teinte, @txSaturation), @txEclaircissement);
@sombreDesature: darken(saturate(@teinte, @txDesaturation), @txAssombrissement);
@claireDesature:lighten(saturate(@teinte, @txDesaturation), @txEclaircissement);


@margeDetails: 0.75em;
@ouvert: "\00229b";
@ferme: "\00229a";
@marque: "\002713";
@marqueTaille: 2em;
@rotation: (-90deg);
@taille: 1em;
@ratioTaille: 1.1;

@bordureRayon:5px;
@boiteOmbre: 0px 4px 6px 0px darken(@noir,25%);
@texteOmbre: 1px -1px 1px darken(@noir, 10%);
@hauteurElement: 3em;

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:100%;
    font-family: 'Josefin Sans',sans-serif;
}

body {
    height: 125vh;
    font-size:100%;
    margin:0.625em;
    background-color: @bodyFond;
}

#racine {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: @bodyFond;
}

header.entete {
    font-family:sans-serif;
    font-size:1em;
    z-index:1;
    width:100vw;

    position:fixed;
    top:0;
    left:0;
    line-height:2;
    display:grid;
    grid-template-columns: 1.5% 85% 1.5% 10% 2%;

}

form.enteteFormulaire {

    grid-column: 2;

    //max-width: 80vw;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

    //display:grid;
    font-size:100%;
}

button {
    font:inherit;
    line-height:2;
    padding:0 1em;
    margin: 1em;
    text-align:center;
    height:3em;
    color: @blanc;
    border:3px solid @blanc;
    border-radius:5px;
    box-shadow: @boiteOmbre;
    text-shadow: @texteOmbre;
    background-color: lighten(@bodyFond, 5%);

    &:disabled,
    &[disabled] {
	color: @blanc;
	border:2px solid @blanc;
	background: @desactivee;
    }
}

button#enregistrer {
    grid-column: 4;
}

.labelInput {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    border-radius:5px;
    border: 2px solid @blanc;
    margin:0;
    padding:0;
    line-height:2;
    height:@hauteurElement;
    box-shadow: @boiteOmbre;

    input {
	font:inherit;
	text-align:center;
	padding:0;
	margin:0;
	border: 1px solid @noir;
	border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
	background-color: @blanc;
	height: 100%;	
    }

    input[type="number"]{
	width: 4em;
	text-align:center;
    }

    input[type="text"]{
	width: 8em;
	text-align:center;
    }

    label {
	font:inherit;
	text-align:center;
	color:@blanc;
	background-color: inherit;
	border:none;
	margin:0;
	padding: 0 5px 0;
	align-self:center;
    }
}

details.pays, details.genres {
    display: inline-block;
    position: relative;
    height: @hauteurElement;
    line-height: 2;

    font-size:100%;
    color: @blanc;
    background-color: @bodyFond;
    border-radius: 6px;
    border: 2px solid @blanc; 

    padding:0;
    margin:0;
    box-shadow: @boiteOmbre;
    cursor: pointer;

    & summary::-webkit-details-marker {
	display:none;
    }

    & > summary {

	background-color: inherit;


	border-radius: 4px;
	user-select: none;
	list-style:none;
	width: 100%;
	padding: 5px 12px;
	margin:0;
    }

    &[open] summary::after {
	content: @ouvert;
    }

    & summary::after {
	content: @ferme;
	display:block;
	font-size: 1.75em;
	color:@blanc;
	padding: 0 5px;
	position:absolute;
	top: calc(50%);
	right: 0;
	transform: translateY(-50%);
    }
}

details.pays {
    min-width: 9em;
    font-size: 1em;

    & article.nations {
	max-height: 80vh;
	overflow-y: auto;

	padding: 5px 10px;
	margin-top: @margeDetails;

	width: 100%;
	border: 2px solid @blanc;
	border-radius: 4px;

	position: absolute;
	display: grid;
	background-color: @bodyFond;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-auto-flow: columns;
	grid-gap: 10px;


	box-shadow: @boiteOmbre;

	section {
	    align-self: center;
	    display:flex;
	    align-items:center;
	    justify-content:space-between;
	    max-width:3.5em;

	    input[type="checkbox"]{
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;

		flex-shrink:0;

		position:relative;
		width:calc(@taille*@ratioTaille);
		height:calc(@taille*@ratioTaille);
		border:2px solid @gris;
		color:gris;
		background-color: transparent;
		cursor: pointer;
		outline:none;

		& + label {
		    font-size:85%;
		    flex-shrink:0;
		    color:@rouge;
		}
	    }

	    input[type="checkbox"]:checked::before{
		content:@marque;
		font-size: @marqueTaille;
		color:@rouge;
		position:absolute;
		top:calc(30%);
		transform: translateY(-50%) translateX(-10%);
		margin:0;
	    }

	    input[type="checkbox"]:checked{
		background-color: transparent;

		& + label {
		    color: @blanc;
		    text-shadow: @texteOmbre;
		}
	    }
	}

    }


}

details.genres {
    min-width: 6.5em;
    padding:0;
    margin:0;

    & article.femmeHomme{
	position: absolute;
	background-color: @bodyFond;
	width: 100%;
	border: 2px solid @blanc;
	border-radius: 4px;
	margin: .75em 0 0 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	transition: all 0.250s ease-out;

	section {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: center;
	    margin: 0 0.5em;

	    input[type="checkbox"]{
		appearance:none;
		-webkit-appearance: none;
		-moz-appearance:none;

		flex-shrink: 0;

		position: relative;
		width:calc(@taille*@ratioTaille);
		height:calc(@taille*@ratioTaille);
		outline:none;
		color: @noir;
		border-radius: 4px;
		border:2px solid @gris;
		background-color: lighten(@gris,35%);
		cursor: pointer;

		& + label {
		    flex-shrink:0;
		    font-size:inherit;
		    color: @gris;
		    user-select:none;
		}
	    }

	    input[type="checkbox"]:checked{
		border-color: @blanc;
		background-color: inherit;

		& + label {
		    color: @blanc;
		    text-shadow: @texteOmbre;
		}
	    }

	    input[type="checkbox"]:checked::before {
		content: @marque;
		color:@rouge;
		font-size: @marqueTaille;
		position: absolute;
		top: calc(30%);
		left: 0;
		transform: translateY(-50%) translateX(-15%);
		margin:0;
		padding:0;
	    }
	}
    }

}

details.selecteur {
    display: inline-block;
    position: relative;
    height: @hauteurElement;
    line-height: 2;

    font-size:100%;
    color: @blanc;
    background-color: @bodyFond;
    border-radius: 6px;
    border: 2px solid @blanc; 

    padding:0;
    margin:0;
    box-shadow: @boiteOmbre;
    cursor: pointer;

    min-width: 14em;

    & summary::-webkit-details-marker {
	display:none;
    }

    &[open] > summary::after {
	content: @ouvert;
    }

    & > summary::after {
	content: @ferme;
	font-size: 1.75em;
	color: @blanc;
	padding: 0 5px;
	position:absolute;
	top: calc(50%);
	right: 0;
	transform: translateY(-50%);
    }


    &[open] {
    }

    & > summary {
	cursor: pointer;
	padding:5px 12px;
	list-style: none;
	border-radius: 4px;
    }

    & > summary.inactif span {
	color: @blanc;
	background-color: inherit;
    }

    & > summary.inactif {
	color: @blanc;
	background-color: @bodyFond;
    }

    & > summary.actif {
	color: @bodyFond;
	border-color: @noir;
	border: 1px solid @noir;
	background-color: @blanc;
	
	span {
	    color: @noir;
	}
	
	&::after {
	    color: @noir;
	}
    }

    & .cadreSelecteur {
	position: absolute;
	width: 100%;
	padding: 0 10px 10px 10px;
	margin: 0;
	margin-top:1em;
	border-radius: 4px;
	display: flex;
	flex-direction: column;

	box-shadow: @boiteOmbre;
	max-height: 90vh;
	overflow-y: scroll;
	background-color: @bodyFond;

	details {
	    display: inline-block;
	    background-color: inherit;
	    border-radius: 4px;
	    cursor: default;
	    box-shadow: @boiteOmbre;
	}

	details + details {
	    margin-top:10px;
	}

	summary::-webkit-details-marker {
	    display:none;
	}

	summary {
	    text-align: center;
	    border:2px double @blanc;
	    border-radius: 4px;
	    background-color: lighten(@bodyFond, 3%);
	}


	article {
	    display:flex;
	    justify-content:center;
	    align-items:center;
	    border-radius: 4px;
	    margin: .25em 0;
	    background-color: @bodyFond;
	}

	ul {
	    display: inline-block;

	    background-color: inherit;
	    list-style-type:  none;
	    padding: .5em 0;
	    margin:0;
	}

	ul > li {
	    font-size: 0.9em;
	    line-height:1.5;
	    color: @noir;
	    margin:0;
	    padding: 0 10px;
	    border-radius: 3px;
	    height:100%;
	    transition: all 0.15s ease-out;
	}

	li:hover {
	    color:@blanc;
	    background-color: @clairSature;
	    text-align:center;
	    height:100%;
	    cursor: pointer;
	}
    }
}



.trombinoscope {
    display:grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-gap: 0.5em;
    justify-content:space-around;
    margin:6.5em 0 0 0;
    padding:10px 0 0 0;
    border-radius:@bordureRayon;
}


article.musicien {

    @gizon:@bleu;
    @emakume:@rose; 

    @articleCouleurFond:@blanc;
    @articleCouleurBordure:#888888;
    @articleBordureCouleur:#888888;
    @articleBordureLargeur: 2px;
    @articleBordureRayon:@bordureRayon;
    @articleH1Couleur:@blanc;
    @articleH1LineHeight:2;
    @articleLiBeforeCouleur:#505050;
    @articleH1FontFamily: 'Bree Serif', serif;
    @articleLiFontFamily: 'Josefin Sans', sans-serif;
    @articleLiFontSize: 0.9em;
    @articleLiCouleur: inherit;
    @articleLiFond:#dddddd;
    @articleLiBordureRayon:3px;
    @articleLiBordureCouleur: #b0b0b0;
    @articleLiBordureLargeur: 2px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:@articleCouleurFond;
    border:@articleBordureLargeur solid @articleBordureCouleur;    
    border-radius:8px;

    img {
	display:block;
	width:100%;
	height:auto;
	padding:0;
	margin:0;
	box-shadow: -1px 0px 0px rgba(0,0,0,0.2);
	flex: 0 0 auto;
    }

    h1 {
	font-size:1em;
	font-family: @articleH1FontFamily;
	margin:0;
	padding:0.75em 0;
	color: @articleH1Couleur;
	text-align:center;    
	line-height:@articleH1LineHeight;
	border-radius-top-left:5px;
	border-radius-top-right:5px;
    }

    h1.couleurHomme {
	background-color: @gizon;
    }

    h1.couleurFemme {
	background-color: @emakume;
    }

    p {
	text-align:left;
	margin-left:10px;
	flex:1;
	line-height:2;
    }

    ul {
	list-style:none;
	margin: 0 1em;
	padding:0;
    }

    li {
	font-family:@articleLiFontFamily;
	font-size:@articleLiFontSize;
	padding:10px 10px;
	margin:10px 10px;
	background-color:@articleLiFond;
	border-radius:@articleLiBordureRayon;
	border:@articleLiBordureLargeur solid @articleLiBordureCouleur;
	text-align:right;
	position:relative;
    }

    li.courrielSimple, li.villeSimple{
	font-size:0.8em;
	text-align:center;
    }

    li.libelle {
	font-size:1em;
	text-align:center;
    }

    li.age::before,
    li.anciennete::before,
    li.telephone::before,
    li.portable::before,
    li.ville::before,
    li.nationalite::before,
    li.courriel::before {
	position:absolute;
	top: 0.75em;
	left: 0.5em;
	text-align:left;
	font-size:inherit;
	font-family:inherit;
	color: @articleLiBeforeCouleur;
    }

    li.age::before {
	content: "Age";
    }

    li.anciennete::before {
	content: "Anc.";
    }

    li.telephone::before {
	content: "Tél.";
    }

    li.portable::before {
	content: "Port.";
    }

    li.ville::before {
	content: "Ville";
    }

    li.nationalite::before {
	content: "Nat.";
    }
}
