// définitions constantes
@import (css) url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import (css) url('https://fonts.googleapis.com/css?family=Bree+Serif');

@noir: #252525;
@gris: #cecece;
@blanc: #f0f0f0;

//@gizon: #2346f0;//#afbefa;
//@emakume:#f023ea;//#faafbe;
//@taux: 55%;
//@bleu: lighten(desaturate(#2346f0, @taux),10%);
//@rose: lighten(desaturate(#f023ea, @taux), 10%);

@bleu: #afbefa;
@rose: #faafbe;

@teinte: #008888;
@bodyFond: @teinte;
@bodyCouleur: @noir; 
@couleurOutline: @gris;
@active: @noir;
@activee: @active;
@desactive: @gris;
@desactivee: @desactive;
@couleurDesactivee: @blanc;
@fondDesactive: @gris;
@bordureRayon:5px;
@boiteOmbre: 0px 4px 6px 0px rgba(0,0,0,0.25);
@hauteurElement: 3em;

@txAssombrissement: 10%;
@txEclaircissement: 10%;
@txSaturation: 15%;
@txDesaturation: 50%;
@sombre: darken(@teinte, @txAssombrissement);
@clair: lighten(@teinte, @txEclaircissement);
@sature: saturate(@teinte, @txSaturation);
@desature: desaturate(@teinte, @txDesaturation);
@sombreSature: darken(saturate(@teinte, @txSaturation), @txAssombrissement);
@clairSature: lighten(saturate(@teinte, @txSaturation), @txEclaircissement);
@sombreDesature: darken(saturate(@teinte, @txDesaturation), @txAssombrissement);
@claireDesature:lighten(saturate(@teinte, @txDesaturation), @txEclaircissement);


*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:100%;
    font-family: 'Josefin Sans',sans-serif;
}

body {
    font-size:100;
    margin:0.625em;
    background-color: @bodyFond;
}

#racine {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: @bodyFond;


    & > * {
        outline-color: @couleurOutline;
    }
}

.labelInput {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    margin:0;
    padding:0;
    column-gap:20px;
    border-radius:5px;
    border:2px solid @blanc;
    box-shadow: @boiteOmbre;
    height: @hauteurElement;
    line-height:2;

    input {
        font:inherit;
        text-align:center;
        padding:0;
        margin:0;
        border: 1px solid @noir;
        border-radius-top-right:5px;
        border-radius-bottom-right:5px;
        background-color: @blanc;
        align-self:center;
        height: 100%;
    }

    label {
        font:inherit;
        text-align:center;
        padding:0 5px 0;
        margin:0;
        color: @blanc;
        background-color: inherit;
        border:none;
        align-self:center;
    }
}


button {
    font:inherit;
    line-height:2;
    padding:0 1em;
    margin: 1em;
    text-align:center;
    height:3em;
    color: @blanc;
    border:3px solid @blanc;
    border-radius:5px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.25);
    background-color: @bodyFond;

    &:disabled,
    &[disabled] {
        color: @blanc;
        border:2px solid @blanc;
        background: @desactivee;
    }
}



header.entete {
    font-family:sans-serif;
    font-size:1em;
    z-index:1;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    line-height:2;
}

nav.barre {
    background-color: @bodyFond;
    width:100%;
    padding:15px 15px;    
    display:flex;
    justify-content: space-between;
    border-bottom:3px double @blanc;
}

form.enteteFormulaire {
    min-width: 80vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    font-size:100%;
}

details.selecteur {
    font-size:100%;
    display: inline-block;
    border:2px solid @blanc;
    border-radius: 4px;
    position:relative;
    color: @blanc; 
    height:3em;
    line-height:2;
    background-color: inherit;
    min-width:14em;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.25);
    outline-color: @couleurOutline;

    & > * {
        outline: #202020;
    }

    &[open] {
        border-radius: 3px 3px 0 0;
    }

    & > summary {
        cursor: pointer;
        padding: 5px 12px;
        background: inherit;
        list-style:none;
        border-radius:4px;
        margin:0;
    }

    & > summary.inactif span{
        color: @blanc;
        background-color: inherit;

    }

    & > summary.inactif {
        color: @blanc;
        background-color:@bodyFond;
    }

    & > summary.actif {
        color: @bodyFond;
        border-color: @noir;
        border: 1px solid @noir;

    background-color: @blanc;            
    span {
        color: @noir;
    }
}

 

& > summary::-webkit-details-marker {
    display:none;
}

& > summary::after {
    content: "\00229a";
    font-size:2em;
    color: inherit;
    position: absolute;
    top: calc(50%);
    right: 12px;
    transform: translateY(-50%); 
    pointer-events:none;
}

&[open] > summary::after{
    content: "\00229b";
}

& .cadreSelecteur {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em;
    box-shadow: @boiteOmbre;
    max-height: 90vh;
    overflow-y: scroll;
}   
}

details.detailsGroupe {
    display: inline-block;
    color: @noir;
    background: @blanc;
    padding:0;
    margin:0;
    cursor: pointer;
    min-width:9.85em;
    position: relative;
    margin-top:1.25em;
    border-radius: 8px;

    &:active {
        background: @bodyFond;
    }

    & + & {
        margin-top:8px;
    }

    & summary::-webkit-details-marker {
        display: none;
    }

    & summary {
        color: @blanc;
        background: lighten(@bodyFond, 5%);
        position:relative;
        user-select:none;
        cursor: default;
        list-style:none;
        width: 100%;
        padding:0 10px;
    }

    &[open] summary::after{
        content: "\00229a";
    }

    & summary::after{
        content: "\00229b";
        display:block;
        font-size:1.75em;
        color: @blanc;
        position: absolute;
        padding: 0 5px;
        top: calc(50%);
        right: 0;
        transform: translateY(-50%);
    }

    & summary:selection {
        background-color: lighten(@bodyFond, 2%);
    }

    & ul {
        list-style-type:none;
        margin-top:5px;
        border-radius:8px;
    }

    & ul > li {
        font-size: 0.9em;
        line-height:1.5;
        color: @noir;
        margin:0;
        padding:0 0 0 10px;
    }

    &   > ul li:hover {
        color: @blanc;
        background: @clairSature;
        cursor:pointer;
    }

}

button#enregistrer {
    margin-left: auto ;
}

button#enregistrer:disabled,
button#enregistrer[disabled] {
    background-color: @desactivee;
}

.trombinoscope {
    display:grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-gap: 0.5em;
    justify-content:space-around;
    margin:6.5em 0 0 0;
    padding:10px 0 0 0;
    border-radius:@bordureRayon;
}


article.musicien {

    @gizon:@bleu;
    @emakume:@rose; 

    @articleCouleurFond:@blanc;
    @articleCouleurBordure:#888888;
    @articleBordureCouleur:#888888;
    @articleBordureLargeur: 2px;
    @articleBordureRayon:@bordureRayon;
    @articleH1Couleur:@blanc;
    @articleH1LineHeight:2;
    @articleLiBeforeCouleur:#505050;
    @articleH1FontFamily: 'Bree Serif', serif;
    @articleLiFontFamily: 'Josefin Sans', sans-serif;
    @articleLiFontSize: 0.9em;
    @articleLiCouleur: inherit;
    @articleLiFond:#dddddd;
    @articleLiBordureRayon:3px;
    @articleLiBordureCouleur: #b0b0b0;
    @articleLiBordureLargeur: 2px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:@articleCouleurFond;
    border:@articleBordureLargeur solid @articleBordureCouleur;    
    border-radius:8px;

    img {
        display:block;
        width:100%;
        height:auto;
        padding:0;
        margin:0;
        box-shadow: -1px 0px 0px rgba(0,0,0,0.2);
        flex:1;
    }

    h1 {
        font-size:1em;
        font-family: @articleH1FontFamily;
        margin:0;
        padding:0.75em 0;
        color: @articleH1Couleur;
        text-align:center;    
        line-height:@articleH1LineHeight;
        border-radius-top-left:5px;
        border-radius-top-right:5px;
    }

    h1.couleurHomme {
        background-color: @gizon;
    }

    h1.couleurFemme {
        background-color: @emakume;
    }

    p {
        text-align:left;
        margin-left:10px;
        flex:1;
        line-height:2;
    }

    ul {
        list-style:none;
        margin: 0 1em;
        padding:0;
    }

    li {
        font-family:@articleLiFontFamily;
        font-size:@articleLiFontSize;
        padding:10px 10px;
        margin:10px 10px;
        background-color:@articleLiFond;
        border-radius:@articleLiBordureRayon;
        border:@articleLiBordureLargeur solid @articleLiBordureCouleur;
        text-align:right;
        position:relative;
    }

    li.courrielSimple, li.villeSimple{
        font-size:0.8em;
        text-align:center;
    }

    li.libelle {
        font-size:1em;
        text-align:center;
    }

    li.age::before,
    li.anciennete::before,
    li.telephone::before,
    li.portable::before,
    li.ville::before,
    li.nationalite::before,
    li.courriel::before {
        position:absolute;
        top: 0.75em;
        left: 0.5em;
        text-align:left;
        font-size:inherit;
        font-family:inherit;
        color: @articleLiBeforeCouleur;
    }

    li.age::before {
        content: "Age";
    }

    li.anciennete::before {
        content: "Anc.";
    }

    li.telephone::before {
        content: "Tél.";
    }

    li.portable::before {
        content: "Port.";
    }

    li.ville::before {
        content: "Ville";
    }

    li.nationalite::before {
        content: "Nat.";
    }
}
